*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
}
body{
    margin: 30px 0px 0 5px;
    padding: 0;
    background: rgb(245,245,245);
}
.maohao{
    margin: 0 10px;
}
.shebeibiaohao_input{
    width: 200px;
    height: 30px;
}
.tiqucanshu,
.shezhicanshu,
.shuaxin{
    background: rgb(1,93,178);
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}
.tiqucanshu,
.shezhicanshu{
    width: 120px;
}
.shuaxin{
    width: 60px;
}
.big_input{
    width: 800px;
    height: 220px;
    border-radius: 3px;
    border:1px solid rgb(170,170,170);
    display: inline-block;
    margin: 20px 0;
}
.flex-item{
    margin-bottom: 20px;
}
.shebeibiaohao,
.jierudain_name,
.mokuai_number,
.jiange_time{
    width: 200px;
    height: 30px;
}
.jiekou_1,
.jiekou_2,
.jiekou_3,
.jiekou_4{
    width: 260px;
    height: 30px;
}
